<%- include('../../layout/header') %>
    <div class="row" id="manga-list">
        <div class="col-md-12">
            <hr>
            <h2 class="text-center"> Hasil Pencarian: </h3>
                <hr>
        </div>

        <% mangas.forEach(a=> { %>
            <div class="col-md-3">
                <div class="card mb-3" style="width: auto;">
                    <img src="<%= a.thumb %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <%= a.title %>
                        </h5>
                        <a class="btn btn-dark btn-sm btn-block see-detail" href="#" data-toggle="modal"
                            data-source="mangabat" data-endpoint="<%= a.link.endpoint %>"
                            data-target="#exampleModal">Detail</a>
                    </div>
                </div>
            </div>
            <% }) %>

                <div class="col-md-12">
                    <hr>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <% navigation.forEach(a=> { %>
                                <% if (a.endpoint) { %>
                                    <li class='page-item'><a class='page-link text-dark'
                                            href='/mangabat/search/<%= a.endpoint %>'>
                                            <%= a.name %>
                                        </a></li>
                                    <% } else {%>
                                        <li class='page-item active'><a class='page-link bg-dark text-white'>
                                                <%= a.name %>
                                            </a></li>
                                        <% } %>
                                            <% }) %>
                        </ul>
                    </nav>
                    <hr>
                </div>
    </div>

    <%- include('../../layout/footer') %>